<div class="education">
  <ul class="card-text font-weight-light list-group list-group-flush">
    {% for edu in page.education %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-auto">
            <div class="abbr">
              <abbr class="badge">{{ edu.time }}</abbr>
            </div>
          </div>
          <div class="col">
            <h6 class="title font-weight-bold">{{ edu.degree }}</h6>
            <table class="table-cv institution">
              <tbody>
                <tr>
                  <td style="vertical-align: top; text-align: center" class="institution">
                    <i class="fa-solid fa-building-columns iconinstitution"></i>
                  </td>
                  <td class="institution">{{ edu.institution }}</td>
                </tr>
                <tr>
                  <td style="vertical-align: top; text-align: center" class="department">
                    <i class="fa-regular fa-circle-dot icondepartment"></i>
                  </td>
                  <td class="department">{{ edu.major }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
